@import '~/asset/style/color.scss';
@import '~/asset/style/common.scss';
@import '~/asset/style/color.scss';
@import '~/asset/style/mixin.scss';
@import '~/asset/style/transition.scss';
@import '~/asset/style/ui.scss';

// element-plus 树节点选中后的颜色
.is-current > .el-tree-node__content {
  background-color: #eee;
}

.el-dialog {
  margin-top: 6vh !important;
  .el-dialog__body {
    padding: 20px !important;
  }
}
.el-table .cell.el-tooltip {
  white-space: break-spaces !important;
}
